/* 共通 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:rgb(84, 192, 192);
  letter-spacing: 0.2em;
}

/* ヘッダー */

header{
  padding: 10px 4% 10px;
  position: fixed;
  top:0;
  width:100%;
  background-color:white;
  display: flex;
  align-items: center;
  z-index:10;
}

.logo img{
  width:20%;
  height: auto;
}

header h1{
  margin:0;
  padding:0;
  font-size:3rem;
}

header a{
  text-decoration: none;
  color:#4b4b4b;
}

header ul{
  list-style:none;
  margin:0;
  display: flex;
}

header li{
  margin-left:10px;
  font-size: 14px;
}

header nav{
  margin:0 0 0 auto;
}

/* スマホ用 */
.hamburger-menu{
  display:none;
}

/* メイン処理 */

/* サイト内リンク位置調整用 */
a.anchor{
  display: block;
  padding-top: 400px;
  margin-top: -70px;
}

.main_visual {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h2 {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  color:black;
}

.about_site{
  height: 100vh;
  text-align: center;
}

.introduce{
  height: 100vh;
  text-align: center;
}

.portfolio{
  height: 100vh;
  text-align: center;
}

.port_exp{
  margin-top: 10rem;
}

.port_product{
  margin-top: 6rem;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.mail{
  height: 100vh;
  text-align: center;
}

#scroll-to-top-btn{
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  color: #FFF;
  font-size: 32px;
  background-color: #9E9E9E;
  border: none;
  border-radius: 50%;
  outline: none;
  transform: rotate(-90deg);
  opacity: 0;
  transition-duration: 0.5s;
}

/* form */
.Form {
  margin-top: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
.Form-Title{
  text-align: center;
}

.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}

.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}

.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}


.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 14px;
}

.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #5bc8ac;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}


/* smart phone */
@media screen and (max-width: 600px) {

  /* PC用のメニューバーを非表示 */
  .pc_nav{
    display: none;
  }

  /* ハンバーガーメニュー表示 */
  .hamburger-menu{
    display:block;
  }

  /* ハンバーガーメニューボタン（スマホ用） */
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3584bb;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }

  /* チェックボックスは非表示 */
  #menu-btn-check {
    display: none;
  }

  /* 三本線がタップされたときに×マークにする*/
  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  /* ハンバーガーメニューの中身を実装 */
  header ul{
    display: block;
  }

  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #3584bb;
  }
  .menu-content ul {
    padding: 70px 10px 0;
  }
  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }
  .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }

  /* ボタンを押したらメニュー表示・非表示 */
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #3584bb;
    transition: all 0.5s;/*アニメーション設定*/
  }

  #menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
  }

  /* about site */
  .about_site{
    height:50vh;
  }

  .introduce{
    height: 50vh;
  }
  /* skill sheet */
  .port_exp{
    margin-top: 4rem;
  }

  /* access */
  .Form {
    margin-top: 100px;
  }

  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }

  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  .Form-Item-Label.isMsg {
    margin-top: 0;
  }

  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }

  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }

  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }

  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }


  /* portfolio */
  .port_product{
    display: inline-block;
  }

  .port_product .item{
    margin-top: 50px;
  }

  .access{
    margin-top: 80vh;
  }
}
